@model TheDeepOTools.Models.Maintenance

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Item Identifier
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemIdentifier)
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Category
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            Subcategory
        </dt>
        <dt>
            Service Hours
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceHrs)
        </dd>
        <dt>
            Total Hours
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalHrs)
        </dd>
        <dt>
            Needs Maintaince(?)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeedsMaintaince)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" class="bg-primary btn btn-primary">Back to List</a>
    </form>
</div>
